
html, body {
    background-color: #fff;
}

.page-header h2 {
    font-weight: 100;
    font-size:48px;
    padding-bottom: 20px;
    padding-top:40px;
}

.content {
    -webkit-box-shadow:none;
}



#footer {
    background-image: url("../img/nyaruka.png");
    height: 16px;
    width: 100px;
    float: right;
    background-color: #fff;
}

footer {
    margin-top: 5px;
    padding-top: 3px;
}

/* Add app specific CSS here */