
html, body {
    background-color: #fff;
}

.page-header {
    border-bottom: 0px;
    margin-bottom: 0px;
}

.page-header h2 {
    font-weight: 100;
    font-size:48px;
    padding-bottom: 20px;
    padding-top:40px;
}

.content {
    -webkit-box-shadow:none;
}



#footer {
    background-image: url("../img/nyaruka.png");
    height: 16px;
    width: 100px;
    float: right;
    background-color: #fff;
}

footer {
    margin-top: 5px;
    padding-top: 3px;
}


.now-playing {
    margin-top: 30px;
}

.now-playing img {
    margin-bottom: 5px;
}

.now-playing p {
    font-weight: 600;
    color:#666;
    font-size: 14px;
    display: inline-block;
}

.playlist-item {
    margin-bottom:10px;
}

.subtitle {
    font-weight: 100;
    line-height: 35px;
    padding: 20px 15px;
    font-size:35px;
    text-align: right;
    background: #f6f6f6;
    margin-bottom: 10px;
}

.requested-by {
    color:#bbb;
}

.track-details {

}

.track-request-button {
}

.top-request-list .track-cover {
    border: 1px solid #ccc;
    width:80px;
    height:80px;
}

.playlist-item .track-cover {
    width:100px;
    float:left;
    margin-right: 20px;
}

.top-request-list {
    padding:10px;
    background: #fff;
}

.top-request .track-name {
    padding-left:20px;
}

.top-request .track-artist {
    padding-left:20px;
}

.top-request .track-requested {
    padding-left:20px;
}

.top-request .track-request-button {
    padding-left: 20px;
}

.track-rank {
    position: absolute;
    font-size:50px;
    text-shadow: black 0.05em 0.05em 0.3em;
    margin-top: -20px;
    text-align: right;
    color:#fff;
    font-weight: 900;
}

.track-artist {
    font-weight: 900;
    color:#bbb;
}
.track-name {
    margin-top:5px;
    font-weight: 100;
    font-size: 22px;
    letter-spacing: .1em;
    line-height: 22px;
}

.track-requested {
    font-weight: 200;
    color:#333;
}
.top-request {
    padding-bottom:20px;
}

/* Add app specific CSS here */

.playing {
    background-color: #333;
    border-bottom: 2px solid #000;
    color: #fff;
    margin-left: -520px; 
    padding-left: 500px;

    padding-top: 10px;
    padding-bottom: 10px;

    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
}

.banner .row .span3 {
    margin-left: 0px;
}

.banner {
    padding-bottom: 20px;
    padding-top: 60px;
    background-color: #333;
    border-bottom: 2px solid #000;
    color: #fff;
}

.banner .row {
    margin-left: 0px;
}

.banner .track-cover {
}

.banner .track-name {
    font-size:32px;
    line-height:32px;
}

.banner .track-artist {
    margin-top: 12px;
    font-size: 20px;
    font-weight: normal;
    line-height: 20px;
}

.banner .track-album {
    font-size: 16px;
    line-height: 16px;
    margin-bottom: 10px;
}

.banner .requested-by {
    color:#999;
}

.next-up .track-name {
    font-size: 22px;
    line-height: 22px;
}

.next-up .track-artist {
    font-size: 18px;
    line-height: 18px;
    color:#666;
    margin-top: 2px;
}

.next-up .requested-by {
    margin-top:5px;
}

.now-playing-stats {
    height:100%;
    vertical-align: bottom;
}