{% extends "smartmin/read.html" %}

{% load thumbnail %}

{% block content %}

    {% for album in object.albums.all %}
<div class="row">
  <div class="span12 album-name">{{ album.name }}</div>
</div>
<div class="row album-container">
  <div class="span3 album-list-item">
    <div class="cover">
    {% if album.cover %}
      {% thumbnail album.cover "350" crop="center" as im %}
      <img src="{{ im.url }}" width="100%"/>
      {% endthumbnail %}
    {% else %}
        <img src="{{ STATIC_URL }}/img/missing.png" width="100%"/>
    {% endif %}
    </div>
  </div>
  <div class="span1">&nbsp;</div>
  <div class="span8 track-list">
    {% for track in album.tracks.all %}
    <div class="row track-list-item">
      <div class="span6 track-name">{{ track.name }}</div>
      <div class="span1 track-length">{{ track.get_length }}</div>
      <div class="span1 pull-right"><a class="btn btn-mini posterize" href="{% url requests.request_new %}?track={{ track.id }}">Request</a></div>
      
    </div>
            {% endfor %}
  </div>
</div>
    {% endfor %}
{% endblock content %}

{% block extra-style %}
<style>

  .album-container {
      margin-bottom: 30px;
  }

  .album-list-item {

  }

  .album-name {
      font-size: 44px;
      line-height: 44px;
      background: #f6f6f6;
      color: #333;
      text-align: right;
      font-weight: 100;
      padding-right:20px;
      padding-top:20px;
      padding-bottom: 10px;
  }

  .track-list-item {
      font-size:18px;
      color:#232323;
      border-bottom: 1px solid #e6e6e6;
      padding:10px 0;

  }

  .track-list {
      padding-top:20px;
  }
  .track-length {
      text-align: right;
  }


</style>
{% endblock extra-style %}