{% extends "smartmin/list.html" %}


{% block pre-content %}
 <div class="page-header"><h2>Playlist</h2></div> 
{% endblock %}

{% block content %}


{% block pjax %}

<div id="pjax" class="container" >



  {% for req  in  object_list %}

  {% if forloop.first %}
  <div style="width:550px;float:right">
    
    <div>Now Playing</div>
    <div>{{req.track.name}}</div>
    <div>{{req.track.album.artist.name}} - {{req.track.album.name}}</div>
    <img src="{{ MEDIA_URL }}{{ req.track.album.cover }}" width="400" />
    <div style="height: 10px"></div>
    <div class="progress progress-striped active" style="width: 400px" >
      <div class="bar" style="width:{{req.get_progress}}%;"></div>
    </div>
    <div style="width: 400px" >
      
      <span  >
	{{req.get_elapsed}}
      </span>
      <span style="float:right">
	{{req.track.length}}
      </span>
      
    </div>
  </div>
  {% else %}
  <div style="width: 500px">  
    <img src="{{ MEDIA_URL }}{{ req.track.album.cover }}" width="50"/>
    
    <span>{{req.track.name}}</span></br>
    <span>{{req.track.album.artist.name}} - {{req.track.album.name}}</span>
    <hr>
  </div>
 
  {% endif %}
  
  
  {% endfor %}

  
</div>

{% endblock pjax %}

{% endblock content %}
