{%  extends "smartmin/list.html" %}

{% block content %}
    {% load thumbnail %}

        <div class="span9">

            {% for r in object_list %}
                <div class="row playlist-item {% if r.status == 'P' %}playing{% endif %}">

                        <div class="track-cover">
                           {% thumbnail r.track.album.cover "350" crop="center" as im %}
                           <img src="{{ im.url }}" width="100%"/>
                           {% endthumbnail %}
                        </div>


                        <div class="track-name">
                            {{ r.track.name }}
                        </div>

                        <div class="track-artist">
                            <a href="{% url tracks.artist_read r.track.album.artist_id%}">{{ r.track.album.artist }}</a>
                        </div>
                          {% if r.created_by_id != -1 %}
                              <div class="requested-by">
                              Requested by
                                  {% if r.created_by.first_name %}
                                      {{ r.created_by.first_name }}
                                  {% else %}

                                      {% if "android" in r.created_by.username %}
                                          SMS
                                      {% else %}
                                          {{ r.created_by }}
                                      {% endif %}

                                  {% endif %}

                                  {{ r.created_on|timesince }} ago
                              </div>
                      {% else %}

                      {% endif %}

                    {% if r.status == 'P' %}
                        <div class="now-playing">
                            <img src="{{ STATIC_URL }}img/now_playing_normal.gif"/>
                            <p>Now Playing</p>
                        </div>
                    {% endif %}

                </div>
            {% endfor %}

        </div>

        <!-- 

        <div class="top-request-list span5 pull-right">
            <div class="row">
                <div class="span5">
                    <div class="subtitle">Top 25 Requests</div>
                </div>
            </div>
            {% for r in top_requests %}
                <div class="top-request row">
                    <div class="span1">
                        <div class="track-cover">
                            {% thumbnail  r.track__album__cover "250" crop="center" as im %}
                                <img src="{{ im.url }}" width="100%"/>
                            {% endthumbnail %}
                        </div>
                        <div class="span1 track-rank">{{ forloop.counter }}</div>
                    </div>
                    <div class="span3 track-details">
                        <div class="track-name">{{ r.track__name}}</div>
                        <div class="track-artist"><a href="{% url tracks.artist_read r.track__album__artist %}">{{ r.track__album__artist__name }}</a></div>
                        <div class="track-requested">Requested {{r.requested}} times</div>
                        <div class="track-request-button"><a class="btn btn-mini posterize" href="{% url requests.request_new %}?track={{ r.track }}">Request</a></div>
                    </div>
                </div>
            {% endfor %}
        </div>

        -->

    <div class="row">
        {% block paginator %}
            {{ block.super }}
        {% endblock %}
    </div>

{% endblock %}
