{%  extends "smartmin/list.html" %}

{% block content %}
{% block pjax %}
<div id="pjax">
    {% load thumbnail cache %}
        <div class="span9 playlist-items">
          {# cache 600 requests_fragment first.id #}
            {% for r in object_list %}
                <div class="row playlist-item {% if r.track.id == now_playing.track.id %}playing{% endif %}">

                        <div class="track-cover">
                        {% if r.track.album.cover %}
                           {% thumbnail r.track.album.cover "100x100" crop="center" as im %}
                           <img src="{{ im.url }}" width="100px" height="100px"/>
                           {% endthumbnail %}
                        {% else %}
                            <img src="{{ STATIC_URL }}/img/missing.png" width="100%"/>
                        {% endif %}
                        </div>

                        <div class="track-name">
                            {{ r.track.name }}
                        </div>

                        <div class="track-artist">
                          {% if r.track.album %}
                          <a href="{% url tracks.artist_read r.track.album.artist.id%}">{{ r.track.album.artist.name }}</a>
                          {% endif %}
                        </div>
                          {% if r.created_by.id != -1 %}
                              <div class="requested-by">
                              Requested by
                                  {% if r.created_by.first_name %}
                                      {{ r.created_by.first_name }}
                                  {% else %}
                                      {% if "android" in r.created_by.username %}
                                          SMS
                                      {% else %}
                                          {{ r.created_by.first_name }} {{ r.created_by.last_name }}
                                      {% endif %}

                                  {% endif %}

                                  {{ r.created_on|timesince }} ago
                              </div>
                      {% else %}

                      {% endif %}

                    {% if r.track.id == now_playing.track.id %}
                        <div class="now-playing">
                            <img src="{{ STATIC_URL }}img/now_playing_normal.gif"/>
                            <p>Now Playing</p>
                        </div>
                    {% endif %}

                </div>
            {% endfor %}
           {# endcache #}
        </div>

  <div class="pagination">
    {% if page_obj.has_next or page_obj.number == 1 %}
    <a class="next" href="{{url_params|safe}}page={{page_obj.next_page_number}}">Next &rarr;</a>
    {% endif %}
  </div>

  <script>
  $(function(){
    $(".playlist-items").infinitescroll({
      navSelector: "div.pagination",            
      nextSelector: "div.pagination a.next",    
      itemSelector: "div.playlist-item",
      bufferPx: 100,
      loading: {                                        
        img: "{{ STATIC_URL }}img/loading_light.gif",                
        finishedMsg: "",
        msgText: ""
      }
    });
  });
  </script>

</div>
{% endblock %}
{% endblock %}

{% block extra-script %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.infinitescroll.min.js"></script>
<script>
  // overloaded on the request list page as we want to reload our list too
  function reloadPlaying(){
    $.pjax({
      push: false,
      url: '{% url requests.request_playing %}',
      container: '#playing_pjax'
    });

    $.pjax({
      push: false,
      url: '{% url requests.request_list %}?pjax=true',
      container: '#pjax'
    });
  }
</script>
{% endblock %}

{% block footer %}
{% endblock %}
