{% extends "smartmin/list.html" %}


{% block pre-content %}
 <div style="width:500px;margin:50px">
    <h2>Welcome to Jukebox Web Interface</h2>
    </br>
</br>
</br>
<a class="btn btn-large btn-block btn-primary" href="{% url tracks.track_list %}"><i class="icon-music icon-white"></i> <em>Browse tracks to request a song</em></a>  |  <a class="btn btn-large btn-block btn-primary" href="{% url tracks.track_create %}"><i class="icon-upload icon-white"></i> <em>Upload a track to jukebox</em> </a> 
</br>
</br>
</br>
   
<h3>You can also use sms to <em style="font-size:1.4em">0787 047 455</em>:</h3>
    
      <ul>
	<li>Request a song by sending <em style="font-size:1.4em">a title or artiste name</em></li>
	<li>Upvote on the palying song by sending the word <em style="font-size:1.4em">yay</em></li>
	<li>Downvote on the playing song by sening the word <em style="font-size:1.4em" >boo</em>
      </ul>
    
</br>
      
  </div>
 <div class="page-header"><h2>Playlist</h2></div> 
{% endblock %}

{% block content %}
 

{% block pjax %}
<div id="pjax" class="container" >
  {% for req  in  object_list %}

  {% if forloop.first %}
  <div style="width:550px;float:right" class="now-playing">
    
    <div>Now Playing</div>
    <div>{{req.track.name}}</div>
    <div>{{req.track.album.artist.name}} - {{req.track.album.name}}</div>
    <img src="{{ MEDIA_URL }}{{ req.track.album.cover }}" width="400" />
    <div style="height: 10px"></div>
    <div class="progress progress-striped active" style="width: 400px" >
      <div class="bar" style="width:{{req.get_progress}}%;"></div>
    </div>
    <div style="width: 400px" >
      
      <span  >
	{{req.get_formatted_elapsed}}
      </span>
      <span style="float:right">
	{{req.track.get_length}}
      </span>
      
    </div>
  </div>
  {% else %}
  <div style="width: 500px">  
    <img src="{{ MEDIA_URL }}{{ req.track.album.cover }}" width="50"/>
    
    <span>{{req.track.name}}</span></br>
    <span>{{req.track.album.artist.name}} - {{req.track.album.name}}</span>
    <hr>
  </div>
  {% endif %}
  {% endfor %}
</div>

{% endblock pjax %}

{% endblock content %}
