{%  extends "smartmin/list.html" %}

{% block content %}
    {% load thumbnail %}
    <div class="row">

        <div class="span6">

            {% for r in object_list %}
                <div class="row playlist-item">

                    <div class="now-playing">
                    {% if r.status == 'P' %}
                        <img src="{{ STATIC_URL }}img/now_playing_normal.gif"/>
                    {% endif %}
                    </div>
                        <div class="track-name">
                            {{ r.track.name }}
                        </div>

                        <div class="track-artist">
                            <a href="{% url tracks.artist_read r.track.album.artist_id%}">{{ r.track.album.artist }}</a>
                        </div>
                          {% if r.created_by_id != -1 %}
                              <div class="requested-by">
                              Requested by
                                  {% if r.created_by.first_name %}
                                      {{ r.created_by.first_name }}
                                  {% else %}

                                      {% if "android" in r.created_by.username %}
                                          SMS
                                      {% else %}
                                          {{ r.created_by }}
                                      {% endif %}

                                  {% endif %}

                                  {{ r.created_on|timesince }} ago
                              </div>


                      {% else %}

                      {% endif %}
                </div>
            {% endfor %}

        </div>
        <div class="top-request-list span5 pull-right">
            <div class="row">
                <div class="span5">
                    <div class="subtitle">Top 25 Requests</div>
                </div>
            </div>
            {% for r in top_requests %}
                <div class="top-request row">
                    <div class="span1">
                        <div class="track-cover">
                            {% thumbnail  r.track__album__cover "250" crop="center" as im %}
                                <img src="{{ im.url }}" width="100%"/>
                            {% endthumbnail %}
                        </div>
                        <div class="span1 track-rank">{{ forloop.counter }}</div>
                    </div>
                    <div class="span4 track-details">
                        <div class="track-name">{{ r.track__name}}</div>
                        <div class="track-artist"><a href="{% url tracks.artist_read r.track__album__artist %}">{{ r.track__album__artist__name }}</a></div>
                        <div class="track-requested">Requested {{r.requested}} times</div>
                        <div class="track-request-button pull-right"><a class="btn btn-mini posterize" href="{% url requests.request_new %}?track={{ r.track }}">Request</a></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        {% block paginator %}
            {{ block.super }}
        {% endblock %}
    </div>

{% endblock %}

{% block extra-style %}
<style>

    .now-playing {
        float:left;
        margin-top:5px;
        margin-left: -7px;
    }
    .playlist-item {
        margin-bottom:10px;
    }

    .subtitle {
        font-weight: 100;
        line-height: 35px;
        padding: 20px 15px;
        font-size:35px;
        text-align: right;
        background: #f6f6f6;
        margin-bottom: 10px;
    }

    .requested-by {
        padding-left: 20px;
        color:#bbb;
    }

    .track-details {

    }

    .track-request-button {
    }

    .track-cover {
        border: 1px solid #ccc;
        width:80px;
        height:80px;
    }

    .top-request-list {
        border: 1px solid #efefef;
        padding:10px;
        background: #fff;
    }

    .track-rank {
        position: absolute;
        font-size:50px;
        text-shadow: black 0.05em 0.05em 0.3em;
        margin-top: -20px;
        text-align: right;
        color:#fff;
        font-weight: 900;
    }

    .track-artist {
        padding-left: 20px;
        font-weight: 900;
        color:#bbb;
    }
    .track-name {
        padding-left: 20px;
        margin-top:5px;
        font-weight: 100;
        font-size: 22px;
        letter-spacing: .1em;
        line-height: 22px;
    }

    .track-requested {
        padding-left: 20px;
        font-weight: 100;
        color:#bbb;
    }
    .top-request {
        padding-bottom:20px;
    }
</style>
{% endblock extra-style %}